*.py[cod]
.DS_Store
.env
webroot/static
webroot/media
test_images/*
*.db
.coverage

# Directories for logs, media files, etc.
public/static/*
!public/static/README*
public/media/*
!media/media/README*
!media/media/originals/README*