Django==1.4.1
Fabric==1.4.3
Pillow==1.7.7
South==0.7.6
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.12
celery==3.0.6
django-appconf==0.5
django-celery==3.0.6
django-compressor==1.2
django-debug-toolbar==0.9.4
gunicorn==0.14.6
kombu==2.4.0
numpy==1.6.2
pycrypto==2.6
python-dateutil==1.5
ssh==1.7.14
wsgiref==0.1.2
