<aside class="tools">
	<div class="permalink">
		<h1>Link to photo</h1>
		<input type="text" readonly="readonly" value="http://www.busitizer.com{{photo.get_absolute_url}}" id="nondirect">
	</div>
	<h1>Tools</h1>
	<ul class="share cf">
		<li class="download"><a href="{{photo.busitized.url}}" target="_blank"><span></span>Download image</a></li>
		<li class="facebook"><a href="#" class="sharefacebook" data-uri="http://busitizer.com{{photo.busitized.url}}"><span></span>Share on Facebook</a></li>
		<li class="twitter"><a target="_blank" href="https://twitter.com/intent/tweet?url=http%3A//busitizer.com{{photo.get_absolute_url}}&text=Everybody%20needs%20a%20little%20more%20Busey%20in%20their%20lives&via=Busitizer"><span></span>Share on Twitter</a></li>
		{% if user == photo.user %}
		<li class="delete"><a href="{{photo.get_absolute_url}}/delete"><span></span>Delete image</a></li>
		{% endif %}
		{% if not user %}
		<li class="busitize"><a href="/">Busitize your photos</li>
		{% endif %}
	</ul>
</aside>

