{% extends "base.html" %}
{% block body %}
<section class="sub">
	<div class="inner cf">

		<img class="busey" src="{{ STATIC_URL }}img/buseyface.png" alt="Gary Busey, of course." align="right" />
		
		<h1>The Busitizer</h1>
		<h2>A BUSI-TEC Industries production.</h2>
		
		<p>BUSI-TEC Industries, founded in 1944, is dedicated to increasing the profile of silver screen star Gary Busey. His work is beautiful,
		and the world should know his glory.</p>
		
		<p>The international conglomerate created <a href="http://www.busitizer.com">busitizer.com</a> to allow facebook users to paste Gary Busey's
			face on their photos.</p>
			
		<p>Also, in an effort to spread busitization to the twitter-sphere, BUSI-TEC Industries created <a href="https://twitter.com/BUSITIZER">BUSITIZER</a>,
			a twitter bot that spreads busey love. If you want BUSITIZER to busey up your internet, tweet at BUSITIZER with a link to a photo. He'll respond
			shortly with a surprise that will brighten your day.</p>
		
		<div class="more-busey">	
			If you need to know anything more about Gary Busey, here are some links:
		    <ul>
			    <li><a href="http://en.wikipedia.org/wiki/Gary_Busey">Wikipedia</a></li>
				<li><a href="http://www.imdb.com/name/nm0000997/">IMDB</a></li>
				<li><a href="http://www.youtube.com/watch?v=amIh-Jovulw">Busey-isms</a></li>
		    </ul>
			Some notable Busey Tweets:
			<blockquote class="twitter-tweet"><p>I feel a cosmic spiritual electronic energy all around me.</p><p class="credit">&mdash; Gary Busey (@THEGaryBusey) <a href="https://twitter.com/THEGaryBusey/status/212422814479810560" data-datetime="2012-06-12T05:55:20+00:00">June 12, 2012</a></p></blockquote>
			<blockquote class="twitter-tweet"><p>5 parts of my brain contain alien power, whatever I do or say cannot be denied on the intergalactic highway of existence.</p><p class="credit">&mdash; Gary Busey (@THEGaryBusey) <a href="https://twitter.com/THEGaryBusey/status/198514632787365888" data-datetime="2012-05-04T20:49:11+00:00">May 4, 2012</a></p></blockquote>
			<blockquote class="twitter-tweet"><p>That harvest moon with gold anticipation is a sign of the goodness you've done.</p><p class="credit">&mdash; Gary Busey (@THEGaryBusey) <a href="https://twitter.com/THEGaryBusey/status/190300528318742528" data-datetime="2012-04-12T04:49:16+00:00">April 12, 2012</a></p></blockquote>
			<blockquote class="twitter-tweet"><p>In the time frame of the Universe it's Sunday everywhere.</p><p class="credit">&mdash; Gary Busey (@THEGaryBusey) <a href="https://twitter.com/THEGaryBusey/status/189805508264333314" data-datetime="2012-04-10T20:02:14+00:00">April 10, 2012</a></p></blockquote>
			<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>	
		
		<div class="us">
			The BUSI-TEC Industries Executive Team consists of:
			<ul>
				<li>Chris Sinchok (<a href="https://twitter.com/chrissinchok">@chrissinchok</a>)</li>
				<li>Shawn Cook (<a href="https://twitter.com/shawncook">@shawncook</a>)</li>
				<li>Sam Johnson (<a href="https://twitter.com/samdjohnson">@samdjohnson</a>)</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}