{% extends "base.html" %}
{% load thumbnail %}

{% block body %}

<section class="sub gallery cf" id="screen-4">
	<div class="inner cf">
		<ul>
			<li><img src="http://www.placekitten.com/100/100"></li>
			<li><img src="http://www.placekitten.com/100/100"></li>
			<li><img src="http://www.placekitten.com/100/100"></li>
			<li><img src="http://www.placekitten.com/100/100"></li>
			<li><img src="http://www.placekitten.com/100/100"></li>
			<li><img src="http://www.placekitten.com/100/100"></li>
			<li><img src="http://www.placekitten.com/100/100"></li>
			<li><img src="http://www.placekitten.com/100/100"></li>
			<li><img src="http://www.placekitten.com/100/100"></li>
			<li><img src="http://www.placekitten.com/100/100"></li>
			<li><img src="http://www.placekitten.com/100/100"></li>	
		</ul>
	</div>
</section>

{% endblock %}