{% extends "base_ours.html" %}
{% block body %}

<section class="sub welcome" id="screen-1">
	<div class="inner cf">
		<img src="{{ STATIC_URL }}img/buseyface.png" alt="Gary Busey, of course." align="right" />
		<h1>Welcome</h1>
		<p>The Busitizer applies the magic of film star, stage actor and artist Gary Busey to your very own Facebook photos. </p>
		<p>Connect your Facebook profile, let the Busitizer scan your photos and discover which memory of your life could have best used a little more Gary Busey.</p>
		<p><a class="button" href="#screen-2">Get started &raquo;</a></p>
	</div>
</section>

<section class="sub connect" id="screen-2">
	<div class="inner"><h1>Connect to Facebook</h1>
	<p>Put Facebook login button here</p>
	<p><em>Why do you require this information?</em> The Busitizer uses your Facebook photos.</p>
	<div class="proceed"><a class="button" href="#screen-3">Log in &raquo;</a></div></div>
</section>

<section class="sub select-profile" id="screen-3">
	
	<div class="inner">
		
		<h1>Customize</h1>
	
		<div class="settings">

			<div class="mood cf">

				<ul class="levels cf">
					<li class="happy"><span class="image"></span><span>Chaotic happy</span></li>
					<li class="neutral"><span class="image"></span><span>Chaotic neutral</span></li>
					<li class="angry"><span class="image"></span><span>Chaotic angry</span></li>
				</ul>
				
				<div id="busey-mood"></div>
		
			</div>

			<div class="intensity cf">

				<div class="levels triangle"></div>

				<div id="busey-level"></div>

			</div>

		</div>

		<div class="proceed"><a class="button" href="#screen-4">Busitize me &raquo;</a></div>
	
	</div>
	
</section>

<section class="sub in-progress" id="screen-4">
	<div class="inner"><h1>Busitizing in progress <span id="progressDots"></span></h1>
	<img src="{{ STATIC_URL }}img/busitizing.gif" alt="Busitizing...">
	<div class="proceed"><a class="button" href="#screen-5">See creation &raquo;</a></div></div>
</section>

<section class="sub finished" id="screen-5">
	<div class="inner">
	<div class="busitized"></div>
	<ul class="cf">
		<li><a href="#">Download full image (42kb)</a></li>
		<li><a href="#">Share on Facebook</a></li>
		<li><a href="#">Share on Twitter</a></li>
		<li><a href="#">Share via email</a></li>
	</ul>
	
	<div class="proceed"><a class="button" href="#screen-1">Busitize another photo?</a></div></div>
</section>

{% endblock %}