{% extends "photo_gallery.html" %}

{% block pagination %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="/my_gallery?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="/my_gallery?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}