{% extends "base.html" %}
{% load thumbnail %}

{% block social_meta %}
<meta name="twitter:card" content="photo">
<meta name="twitter:site" content="@busitizer">
<meta name="twitter:url" content="http://busitizer.com{{photo.get_absolute_url}}">
<meta name="twitter:title" content="Busitizer">
<meta name="twitter:description" content="BIRD SEASON'S OVER, BUTTHORN">
{% thumbnail photo.busitized "500" upscale=False as im %}
<meta name="twitter:image" content="{{ im.url }}">
<meta name="twitter:image:width" content="{{ im.width }}">
<meta name="twitter:image:height" content="{{ im.height }}">
{% endthumbnail %}
{% endblock %}

{% block body %}

<section class="sub finished cf" id="screen-4">
	<div class="inner cf">
		{% include "snippets/photo.html" %}
	</div>
</section>

{% endblock %}