{% extends "base.html" %}

{% block title %}Gallery - {% endblock %}

{% load thumbnail %}

{% block body %}
<section class="sub gallery">
	<div class="inner cf">
        {% if photo_list %}
		<ul>
			
            {% for photo in photo_list %}
                <li>
                	{% thumbnail photo.busitized "170x170" crop="center" as im %}
                	<a href="{{ photo.get_absolute_url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" /></a>
					{% endthumbnail %}
                </li>
            {% endfor %}

            {% if is_paginated %}
                {% block pagination %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a class="prev" href="/public_gallery?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                        {% if page_obj.has_next %}
                            <a class="next" href="/public_gallery?page={{ page_obj.next_page_number }}">Next</a>
                        {% endif %}
                    </span>
                </div>
                {% endblock %}
            {% endif %}

		</ul>
        {% else %}
        <p>You haven't Busitized any photos yet! <a href="/">Click here to get started.</a></p>
        {% endif %}
	</div>
</section>
{% endblock %}